table.minimonth {
  border-collapse: collapse;
  font-size: 80%;
  font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
  border: 1px solid #ccc;
  color: #4d4e53;
  margin-bottom: 20px; }
  table.minimonth th, table.minimonth td {
    border: 1px solid #afafaf;
    padding: 3px;
    vertical-align: middle;
    text-align: center; }
  table.minimonth td {
    width: 20px;
    overflow: hidden;
    line-height: 16px;
    padding-top: 4px; }
  table.minimonth th.month_name {
    font-size: 125%;
    font-weight: normal;
    color: black; }
  table.minimonth td.other_month {
    color: #cacac8;
    background-color: #ffffff; }
  table.minimonth td.weekend_day {
    background-color: #eee; }
  table.minimonth td.eventful {
    background-color: #fee; }
  table.minimonth td.eventful_weekend {
    background-color: #edd; }
  table.minimonth td.today {
    background-color: #afafaf;
    color: #ffffff;
    font-weight: bold; }
  table.minimonth td.other_month a {
    color: #cacac8; }
  table.minimonth td.event_list {
    text-align: left;
    line-height: 1.4;
    width: 100%; }
    table.minimonth td.event_list ul {
      list-style: none;
      margin: 6px; }
      table.minimonth td.event_list ul li span.date {
        color: #4d4e53; }
      table.minimonth td.event_list ul li span.title, table.minimonth td.event_list ul li a.title {
        color: #4d4e53;
        font-weight: bold; }
      table.minimonth td.event_list ul li span.location {
        color: #cacac8; }
      table.minimonth td.event_list ul li span.notes {
        color: #d1005d; }
    table.minimonth td.event_list p {
      margin: 6px 6px 0 2px; }
      table.minimonth td.event_list p a.ical {
        color: #900; }

table.month {
  border-collapse: collapse;
  border: 1px solid #ccc;
  color: #4d4e53; }
  table.month th, table.month td {
    border: 1px solid #ccc;
    padding: 6px;
    vertical-align: top; }
  table.month th a {
    display: block;
    color: #ccc;
    font-weight: lighter; }
  table.month th a:hover {
    color: #c00; }
  table.month td {
    font-family: helvetica, arial, sans-serif;
    font-size: 0.8em;
    line-height: 1.4; }
    table.month td div {
      width: 85px;
      height: 85px;
      overflow: hidden; }
    table.month td h4 {
      margin: 0;
      font-weight: lighter;
      text-align: right;
      color: #4d4e53; }
    table.month td ul {
      margin: 0;
      padding: 0;
      list-style: inline; }
      table.month td ul li {
        margin-bottom: 2px; }
    table.month td a {
      display: block;
      color: #c00;
      text-decoration: none;
      margin: 0 0 4px 0;
      font-weight: bold; }
  table.month tr.month_name th {
    font-weight: normal;
    text-align: right;
    padding-top: 1em;
    padding-bottom: 0.7em;
    color: black; }
  table.month tr.day_name th {
    font-family: HelveticaNeue-Light, helvetica, arial, sans-serif;
    font-size: 0.8em;
    padding-top: 0.6em;
    padding-bottom: 0.3em;
    font-weight: lighter; }
  table.month td.other_month {
    color: #cacac8;
    background-color: #ffffff; }
    table.month td.other_month a {
      color: #cacac8; }
  table.month td.weekend_day {
    background-color: #eee; }
  table.month td.eventful {
    background-color: #fee; }
  table.month td.eventful_weekend {
    background-color: #edd; }
  table.month td.today {
    background-color: #afafaf;
    color: #ffffff;
    font-weight: bold; }
  table.month td.weekend_today {
    background-color: #dde; }

div.event_list p {
  margin: 6px 0; }

div.event_list a.title {
  text-decoration: underline; }

div.event_list p span.location {
  font-family: helvetica, arial, sans-serif;
  font-size: 0.8em;
  line-height: 1.4;
  color: #cacac8; }

span.date-month {
  display: block;
  font-size: 12px;
  margin: 0;
  padding: 0;
  line-height: 1; }

span.date-day {
  display: block;
  font-size: 20px;
  margin: 0;
  padding: 0; }

a.ical {
  margin: 0 2px 8px 2px; }
